#nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#nav-bar ul{
  width : 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#header-img{
  width: 15%;
  display: flex;
}

#header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #dfdfdf;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
}
@media (min-height: 480px) {
    #header {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }

#email{
    width: 150%;
    margin-left: -50px;
}

#form{
    align-items: center;
    display: block;
    justify-content: center;
    text-align: center;;

}
#section1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#section2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#list_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#img-1, #img-2, #img-3{
  width: 3%;
  margin: 10px;
}
#submit{
    margin-top: 10px;
    width: 120%;
    margin-left: -25px;
}
#video_container{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 20px;
}
#section3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#layout_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
}
#package{
    background: #c0c0c0;
    width: 300px;
    padding: 10px;
    color: black;
    font-family: monospace;
}
#texts{
    padding: 20px;
}
#card_button{
    margin-bottom: 10px;
}

body {
    padding: 150px;
}

li {
    list-style: none;
}

h3{
  display: block;
  text-align: center;
}
footer{
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: gray;
  text-align:end
}
footer ul{
  display: flex;
  flex: auto;
  align-items: flex-end;
  justify-content: flex-end;
}
footer ul li{
  font-size:20px;
  margin-right:10px;
}