#nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#nav-bar ul{
  width : 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#header-img{
  width: 15%;
  display: flex;
}

#header{
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

#email{
    width: 100%;
}

#form{
    align-items: center;
    display: block;
    justify-content: center;
}
#section1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit{
    margin-top: 10px;
    text-align: center;
}

li {
    list-style: none;
}

h3{
  display: block;
  text-align: center;
}